/bin/
XLingPaperPDFTemp
*.xml~
/.settings/
build/build
build/deploy
build/dist
build/doc
build/externalLibs
build/project
resources/images
oxygen
*- Copy.ashedata
*.ashedato
*.orig
*.bak
*.xso
antlr4generated/
