/* custom CSS for SYllable Parser */

.button-blue {
	-fx-background-color: #BFD0FF;
	-fx-border-style: solid ;
}
.button-selected {
	-fx-background-color: #F5DEB3;
}

.toolbarbutton {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.failedsyllabification {
	-fx-color:red;
}
/* .combo-box-popup .list-cell:disabled  {
    -fx-opacity: 0.4 ;
}
.combo-box-popup .list-cell  {
    -fx-opacity: 1.0 ;
} */