/* custom CSS for Syllable Parser */

.root {
	-fx-font-size:100%;
}
/* not using because -fx-text-fill does not work for Text items
 * we are using code (t.setFill(Color)) which does work
 */
.active {
	-fx-text-fill:green;
}
.inactive {
	-fx-text-fill:red;
}
.button-blue {
	-fx-background-color: #BFD0FF;
	-fx-border-style: solid ;
}
.button-selected {
	-fx-background-color: #F5DEB3;
}

.toolbarbutton {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.failedsyllabification {
	-fx-text-fill:red;
}
.syllabification-result {
	-fx-font-size: 90%;
}
.predictedSyllabificationColumn .label {
	-fx-alignment: center-left ;
	-fx-text-fill: red;
}
/* .combo-box-popup .list-cell:disabled  {
    -fx-opacity: 0.4 ;
}
.combo-box-popup .list-cell  {
    -fx-opacity: 1.0 ;
} */